- –≠—Ç–æ—Ç –Ω–æ—É—Ç–±—É–∫ —Å–æ–¥–µ—Ä–∂–∏—Ç —Ä–µ—à–µ–Ω–∏–µ –¥–ª—è –∑–∞–¥–∞—á–∏ –°–ü–ê–ú-–¥–µ—Ç–µ–∫—Ü–∏–∏ —Ç–µ–∫—Å—Ç–æ–≤ (–±–∏–Ω–∞—Ä–Ω–∞—è –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏—è).
- –í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Å–Ω–æ–≤–Ω–æ–π –º–µ—Ç—Ä–∏–∫–∏ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è roc_auc, –æ–¥–Ω–∞–∫–æ —è —Ç–∞–∫–∂–µ —Ä–µ—à–∏–ª–∞ –æ–±—Ä–∞—Ç–∏—Ç—å –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ precision, —Ç.–∫. –≤ –¥–∞–Ω–Ω–æ–π –∑–∞–¥–∞—á–µ –≤–∞–∂–Ω–∞ –º–∏–Ω–∏–º–∏–∑–∞—Ü–∏—è false positives –¥–ª—è —Ç–æ–≥–æ, —á—Ç–æ–±—ã —Å–ª—É—á–∞–π–Ω–æ –Ω–µ –∫–ª–∞—Å—Å–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞—Ç—å –≤–∞–∂–Ω–æ–µ —Å–æ–æ–±—â–µ–Ω–∏–µ –∫–∞–∫ —Å–ø–∞–º

  
*–ë—ã–ª–∏ –ø—Ä–æ–≤–µ–¥–µ–Ω—ã —Å–ª–µ–¥—É—é—â–∏–µ —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç—ã*:
- –û–±—É—á–µ–Ω–∏–µ —Ä–∞–∑–ª–∏—á–Ω—ã—Ö –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ç–æ—Ä–æ–≤ —Å –ø–æ–º–æ—â—å—é –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ sklearn –≤ –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–ø—Ä–∞–≤–Ω–æ–π —Ç–æ—á–∫–∏. –ù–∞–∏–ª—É—á—à–µ–µ –∫–∞—á–µ—Å—Ç–≤–æ –ø–æ–∫–∞–∑–∞–ª–∏ SVM, RandomForest, ExtraTreesClassifier. –û–¥–Ω–∞–∫–æ roc_auc –Ω–µ –ø—Ä–µ–≤—ã—Å–∏–ª 0.93
- –î–ª—è –ª—É—á—à–∏—Ö –∞–ª–≥–æ—Ä–∏—Ç–º–æ–≤ –≤—ã–ø–æ–ª–Ω–µ–Ω GridSearch –¥–ª—è –ø–æ–∏—Å–∫–∞ –ª—É—á—à–∏—Ö –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤, –æ–¥–Ω–∞–∫–æ roc_auc —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω–æ –Ω–µ –∏–∑–º–µ–Ω–∏–ª—Å—è
- –°—Ç–µ–∫–∏–Ω–≥ –∏–∑ –ª—É—á—à–∏—Ö –∞–ª–≥–æ—Ä–∏—Ç–º–æ–≤ –ø–µ—Ä–µ—á–∏—Å–ª–µ–Ω–Ω—ã—Ö –≤—ã—à–µ, roc_auc —Å—É—â–µ—Å—Ç–≤–µ–Ω–Ω–æ –Ω–µ –∏–∑–º–µ–Ω–∏–ª—Å—è
- –ö–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏—è —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –º–æ–¥–µ–ª–∏-—Ç—Ä–∞–Ω—Å—Ñ–æ—Ä–º–µ—Ä–∞ roberta –∏–∑ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ hugginface. –ó–¥–µ—Å—å –¥–∞–∂–µ –¥–æ–æ–±—É—á–µ–Ω–∏–µ –Ω–µ –ø–æ–Ω–∞–¥–æ–±–∏–ª–æ—Å—å, —Ç.–∫. –º–æ–¥–µ–ª—å —É–∂–µ –±—ã–ª–∞ –¥–æ–æ–±—É—á–µ–Ω–∞ –Ω–∞ –∞–Ω–∞–ª–æ–≥–∏—á–Ω–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ –∏ –ø–æ–∫–∞–∑–∞–ª–∞ –æ—á–µ–Ω—å –≤—ã—Å–æ–∫–æ–µ –∫–∞—á–µ—Å—Ç–≤–æ roc_auc=0.99. –≠—Ç–∞ –º–æ–¥–µ–ª—å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∞ –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è —Ñ–∏–Ω–∞–ª—å–Ω—ã—Ö –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–π

In [ ]:
# –∑–∞–≥—Ä—É–∑–∫–∞ –±–∏–±–ª–∏–æ—Ç–µ–∫
import pandas as pd
import nltk
from nltk.corpus import stopwords  
nltk.download('stopwords')
nltk.download('punkt')

from sklearn.preprocessing import LabelEncoder
from nltk.stem.porter import PorterStemmer
import string
from sklearn.ensemble import StackingClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer, accuracy_score, precision_score, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

import warnings
warnings.filterwarnings("ignore")

### 1. –ê–Ω–∞–ª–∏–∑ –¥–∞–Ω–Ω—ã—Ö

**–í—ã–≤–æ–¥—ã**
1. –í —Ç—Ä–µ–π–Ω –¥–∞—Ç–∞—Å–µ—Ç–µ 16278 —Å—Ç—Ä–æ–∫ –Ω–∞ –∞–Ω–≥–ª–∏–π—Å–∫–æ–º —è–∑—ã–∫–µ
2. –ï—Å—Ç—å 2 –∫–ª–∞—Å—Å–∞ - spam –∏ ham (–Ω—É–∂–Ω–∞ –∫–æ–¥–∏—Ä–æ–≤–∫–∞ —á–∏—Å–ª–∞–º–∏ 0 –∏–ª–∏ 1)
3. –ü—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –Ω–µ—Ç
4. –ï—Å—Ç—å –¥–∏—Å–±–∞–ª–∞–Ω—Å –∫–ª–∞—Å—Å–æ–≤ (–ø—Ä–µ–æ–±–ª–∞–¥–∞–µ—Ç –∫–ª–∞—Å—Å 0). –°–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ, –¥–ª—è –æ–±—É—á–µ–Ω–∏—è –ª—É—á—à–µ –±—Ä–∞—Ç—å —Å–±–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∞–Ω–Ω—É—é –≤—ã–±–æ—Ä–∫—É
5. –ï—Å—Ç—å –¥—É–±–ª–∏–∫–∞—Ç—ã

In [3]:
# –∑–∞–≥—Ä—É–∑–∫–∞ –¥–∞—Ç–∞—Å–µ—Ç–∞
train_df = pd.read_csv('train_spam.csv')
train_df

      text_type                                               text
0           ham  make sure alex knows his birthday is over in f...
1           ham  a resume for john lavorato thanks vince i will...
2          spam  plzz visit my website moviesgodml to get all m...
3          spam  urgent your mobile number has been awarded wit...
4           ham  overview of hr associates analyst project per ...
...         ...                                                ...
16273      spam  if you are interested in binary options tradin...
16274      spam  dirty pictureblyk on aircel thanks you for bei...
16275       ham  or you could do this g on mon 1635465 sep 1635...
16276       ham  insta reels par 80 ‡§ó‡§Ç‡§¶ bhara pada hai üëÄ kuch b...
16277       ham  alex s paper comments 1 in the sentence betwee...

[16278 rows x 2 columns]

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16278 entries, 0 to 16277
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   text_type  16278 non-null  object
 1   text       16278 non-null  object
dtypes: object(2)
memory usage: 254.5+ KB

In [7]:
# –ø—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞–ª–∏—á–∏—è –ø—É—Å—Ç—ã—Ö —Å—Ç—Ä–æ–∫
train_df.isnull().sum()

text_type    0
text         0
dtype: int64

In [8]:
# –ø—Ä–æ–≤–µ—Ä–∫–∞ –Ω–∞–ª–∏—á–∏—è –¥—É–±–ª–∏–∫–∞—Ç–æ—Ä
train_df.duplicated().sum()

11

In [9]:
# —É–¥–∞–ª–µ–Ω–∏–µ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤
train_df = train_df.drop_duplicates(keep = 'first')

In [11]:
# —Å–æ–æ—Ç–Ω–æ—à–µ–Ω–∏–µ –∫–ª–∞—Å—Å–æ–≤
values = train_df['text_type'].value_counts()
total = values.sum()

percentage_0 = (values[0] /total) * 100
percentage_1 = (values[1]/ total) *100

print('percentage of 0 :' ,percentage_0)
print('percentage of 1 :' ,percentage_1)

percentage of 0 : 70.4370812073523
percentage of 1 : 29.56291879264769

/var/folders/1g/9dxsk7gs7fxg8nmzktwnpj0w0000gn/T/ipykernel_9321/1985025021.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  percentage_0 = (values[0] /total) * 100
/var/folders/1g/9dxsk7gs7fxg8nmzktwnpj0w0000gn/T/ipykernel_9321/1985025021.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  percentage_1 = (values[1]/ total) *100

In [117]:
# –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–æ–ª-–≤–µ —Å–∏–º–≤–æ–ª–æ–≤, —Å–ª–æ–≤ –∏ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–π
train_df['num_characters'] = train_df['text'].apply(len)
train_df['num_words'] = train_df['text'].apply(lambda x: len(nltk.word_tokenize(x)))
train_df['num_sentence'] = train_df['text'].apply(lambda x: len(nltk.sent_tokenize(x)))

In [16]:
train_df[['num_characters', 'num_words', 'num_sentence']].describe()

       num_characters     num_words  num_sentence
count    16267.000000  16267.000000  16267.000000
mean       310.468986     57.141944      1.062212
std        287.887904     52.134400      0.376116
min          1.000000      1.000000      1.000000
25%         60.000000     12.000000      1.000000
50%        157.000000     31.000000      1.000000
75%        639.000000    114.000000      1.000000
max        800.000000    207.000000     12.000000

In [32]:
# –ø–æ –æ—Ç—á–µ—Ç—É –≤–∏–¥–Ω–æ, —á—Ç–æ –µ—Å—Ç—å —Å—Ç—Ä–æ–∫–∏, –¥–ª–∏–Ω–∞ –∫–æ—Ç–æ—Ä—ã—Ö = 1 —Å–ª–æ–≤–æ. –°–∫–æ—Ä–µ–µ –≤—Å–µ–≥–æ –æ–Ω–∏ –Ω–µ –Ω–µ—Å—É—Ç —Ü–µ–Ω–Ω–æ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏, –ø–æ—ç—Ç–æ–º—É –∏—Ö –º–æ–∂–Ω–æ —É–¥–∞–ª–∏—Ç—å
train_df[train_df['num_words'] < 2].groupby('text_type').count()

           text  num_characters  num_words  num_sentence
text_type
ham         142             142        142           142
spam          3               3          3             3

In [35]:
indice_to_drop = train_df[train_df['num_words'] < 2].index
train_df[train_df['num_words'] < 2]

,text_type,text,num_characters,num_words,num_sentence
76,ham,urgent,6,1,1
149,ham,fast,4,1,1
170,ham,freemasonry,11,1,1
233,ham,logs,4,1,1
331,ham,landed,6,1,1
...,...,...,...,...,...
15738,ham,txt,3,1,1
15780,ham,staffsciencenusedusgphyhcmkteachingpc1323,41,1,1
15890,ham,derpherp,8,1,1
16067,ham,ok,2,1,1
16230,ham,sax,3,1,1

In [ ]:
# —É–¥–∞–ª–µ–Ω–∏–µ —Å–ª–∏—à–∫–æ–º –∫–æ—Ä–æ—Ç–∫–∏—Ö —Å—Ç—Ä–æ–∫
train_df = train_df.drop(indice_to_drop)

### 2. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [39]:
# —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω–æ–µ –∫–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–ª–∞—Å—Å–æ–≤ (0-ham, 1-spam)
encoder = LabelEncoder()
train_df['target'] = encoder.fit_transform(train_df['text_type'])
train_df

/Users/irinba/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
/Users/irinba/anaconda3/lib/python3.11/site-packages/sklearn/utils/validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

,text_type,text,num_characters,num_words,num_sentence,target
0,ham,make sure alex knows his birthday is over in f...,86,16,1,0
1,ham,a resume for john lavorato thanks vince i will...,520,97,1,0
2,spam,plzz visit my website moviesgodml to get all m...,126,22,1,1
3,spam,urgent your mobile number has been awarded wit...,139,23,1,1
4,ham,overview of hr associates analyst project per ...,733,127,1,0
...,...,...,...,...,...,...
16273,spam,if you are interested in binary options tradin...,114,18,1,1
16274,spam,dirty pictureblyk on aircel thanks you for bei...,454,74,1,1
16275,ham,or you could do this g on mon 1635465 sep 1635...,799,147,1,0
16276,ham,insta reels par 80 ‡§ó‡§Ç‡§¶ bhara pada hai üëÄ kuch b...,102,21,1,0
16277,ham,alex s paper comments 1 in the sentence betwee...,745,140,1,0

In [75]:
# –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –æ–±—ä–µ–∫—Ç–∞ –¥–ª—è —Å—Ç–µ–º–º–∏–Ω–≥–∞
ps = PorterStemmer()

# –§-—è –¥–ª—è –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∏ —Ç–µ–∫—Å—Ç–∞
def transform_text(text):
    # –ø–µ—Ä–µ–≤–æ–¥ –≤ –Ω–∏–∂–Ω–∏–π —Ä–µ–≥–∏—Å—Ç—Ä
    text = text.lower()
    
    # —Ç–æ–∫–µ–Ω–∏–∑–∞—Ü–∏—è
    text = nltk.word_tokenize(text)
    
    # —É–±–∏—Ä–∞–µ–º –ª–∏—à–Ω–∏–µ —Å–∏–º–≤–æ–ª—ã
    y = []
    for i in text:
        if i.isalnum():
            y.append(i)
            
    # —É–±–∏—Ä–∞–µ–º —Å—Ç–æ–ø-—Å–ª–æ–≤–∞ –∏ –ø—É–Ω–∫—Ç—É–∞—Ü–∏—é
    text = y[:]
    y.clear()
    
    for i in text:
        if i not in stopwords.words('english') and i not in string.punctuation:
            y.append(i)
        
    # —Å—Ç–µ–º–º–∏–Ω–≥
    text = y[:]
    y.clear()
    for i in text:
        y.append(ps.stem(i))
    
    return " ".join(y)

In [76]:
# –ø—Ä–∏–º–µ–Ω—è–µ–º —Ç—Ä–∞–Ω—Å—Ñ–æ—Ä–º–∞—Ü–∏–∏
train_df['transformed_text'] = train_df['text'].apply(transform_text)
train_df

,text_type,text,num_characters,num_words,num_sentence,target,transformed_text
0,ham,make sure alex knows his birthday is over in f...,86,16,1,0,make sure alex know birthday fifteen minut far...
1,ham,a resume for john lavorato thanks vince i will...,520,97,1,0,resum john lavorato thank vinc get move right ...
2,ham,overview of hr associates analyst project per ...,733,127,1,0,overview hr associ analyst project per david r...
3,ham,url url date not supplied government employees...,156,26,1,0,url url date suppli govern employe routin scre...
4,ham,looks like your ham corpus by and large has to...,419,85,1,0,look like ham corpu larg jeremi url header spa...
...,...,...,...,...,...,...,...
3995,spam,got bored right? üòê then certainly you must che...,271,50,2,1,got bore right certainli must check netflix ne...
3996,spam,hey you know about this app i have earned 100 ...,244,47,1,1,hey know app earn 100 rupe app also want earn ...
3997,spam,pvt finance arranged on cheque basics 4 busine...,132,20,1,1,pvt financ arrang chequ basic 4 busi peopl tra...
3998,spam,ùëÆùíêùíêùíÖ ùíäùíèùíóùíÜùíîùíïùíéùíÜùíèùíï ùíâùíÇùíî ùíÉùíÜùíÜùíè ùíéùíö ùíéùíÇùíäùíè ùíîùíêùíñùíìùíÑùíÜ ùíêùíá ùíäùíèùíÑ...,326,61,1,1,ùëÆùíêùíêùíÖ ùíäùíèùíóùíÜùíîùíïùíéùíÜùíèùíï ùíâùíÇùíî ùíÉùíÜùíÜùíè ùíéùíö ùíéùíÇùíäùíè ùíîùíêùíñùíìùíÑùíÜ ùíêùíá ùíäùíèùíÑ...
3999,spam,i am so happy i made the right decision invest...,485,93,1,1,happi made right decis invest 1000 trade make ...

In [41]:
# –≤–æ–∑—å–º–µ–º —Å–±–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∞–Ω–Ω—É—é –≤—ã–±–æ—Ä–∫—É –∏ –≤—ã–ø–æ–ª–Ω–∏–º undersampling –¥–ª—è —É—Å–∫–æ—Ä–µ–Ω–∏—è –æ–±—É—á–µ–Ω–∏—è
df_class_0 = train_df[train_df['target'] == 0][:2000]
df_class_1 = train_df[train_df['target'] == 1][:2000]

train_df_2 = pd.concat([df_class_0, df_class_1], ignore_index=True)
train_df_2

,text_type,text,num_characters,num_words,num_sentence,target
0,ham,make sure alex knows his birthday is over in f...,86,16,1,0
1,ham,a resume for john lavorato thanks vince i will...,520,97,1,0
2,ham,overview of hr associates analyst project per ...,733,127,1,0
3,ham,url url date not supplied government employees...,156,26,1,0
4,ham,looks like your ham corpus by and large has to...,419,85,1,0
...,...,...,...,...,...,...
3995,spam,got bored right? üòê then certainly you must che...,271,50,2,1
3996,spam,hey you know about this app i have earned 100 ...,244,47,1,1
3997,spam,pvt finance arranged on cheque basics 4 busine...,132,20,1,1
3998,spam,ùëÆùíêùíêùíÖ ùíäùíèùíóùíÜùíîùíïùíéùíÜùíèùíï ùíâùíÇùíî ùíÉùíÜùíÜùíè ùíéùíö ùíéùíÇùíäùíè ùíîùíêùíñùíìùíÑùíÜ ùíêùíá ùíäùíèùíÑ...,326,61,1,1
3999,spam,i am so happy i made the right decision invest...,485,93,1,1

In [105]:
# –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –æ–±—ä–µ–∫—Ç–∞ –≤–µ–∫—Ç–æ—Ä–∏–∑–∞—Ç–æ—Ä–∞
tfid = TfidfVectorizer(max_features = 3000)

In [86]:
# –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–µ –≤–µ–∫—Ç–æ—Ä–∏–∑–∞—Ü–∏–∏
X = tfid.fit_transform(train_df['transformed_text']).toarray()
y = train_df['target'].values

In [87]:
# —Ä–∞–∑–¥–µ–ª–µ–Ω–∏–µ –≤—ã–±–æ—Ä–∫–∏ –Ω–∞ train-test
X_train, X_test , y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 44)

### 3. –û–±—É—á–µ–Ω–∏–µ –º–æ–¥–µ–ª–µ–π –∏ —Å—Ä–∞–≤–Ω–µ–Ω–∏–µ

In [60]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

In [61]:
# –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –æ–±—ä–µ–∫—Ç–æ–≤ –º–æ–¥–µ–ª–µ–π-–∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ç–æ—Ä–æ–≤ –∏–∑ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ sklearn

svc = SVC(kernel= "sigmoid", gamma  = 1.0)
knc = KNeighborsClassifier()
mnb = MultinomialNB()
dtc = DecisionTreeClassifier(max_depth = 5)
lrc = LogisticRegression(solver = 'liblinear', penalty = 'l1')
rfc = RandomForestClassifier(n_estimators = 50, random_state = 2 )
abc = AdaBoostClassifier(n_estimators = 50, random_state = 2)
bc = BaggingClassifier(n_estimators = 50, random_state = 2)
etc = ExtraTreesClassifier(n_estimators = 50, random_state = 2)
gbdt = GradientBoostingClassifier(n_estimators = 50, random_state = 2)    
xgb  = XGBClassifier(n_estimators = 50, random_state = 2)

In [108]:
# —Ñ-—è –¥–ª—è –æ–±—É—á–µ–Ω–∏—è
def train_classifier(clfs, X_train, y_train, X_test, y_test):
    clfs.fit(X_train,y_train)
    y_pred = clfs.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    roc_auc = roc_auc_score(y_test, y_pred)
    return accuracy, precision, roc_auc

In [80]:
# –ø—Ä–æ—Ü–µ—Å—Å –æ–±—É—á–µ–Ω–∏—è –Ω–∞ —Å–æ–∫—Ä–∞—â–µ–Ω–Ω–æ–º —Å–±–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∞–Ω–Ω–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ
accuracy_scores = []
precision_scores = []
roc_auc_scores = []
for name, clf in clfs.items():
    current_accuracy, current_precision, current_roc_auc = train_classifier(clf, X_train, y_train, X_test, y_test)
    print()
    print("For: ", name)
    print("Accuracy: ", current_accuracy)
    print("Precision: ", current_precision)
    print("Roc_auc: ", current_roc_auc)
    
    accuracy_scores.append(current_accuracy)
    precision_scores.append(current_precision)
    roc_auc_scores.append(current_roc_auc)

For:  SVC
Accuracy:  0.91
Precision:  0.9205128205128205
Roc_auc:  0.9099999999999999

For:  KNN
Accuracy:  0.63125
Precision:  0.9411764705882353
Roc_auc:  0.63125

For:  NB
Accuracy:  0.88625
Precision:  0.8652482269503546
Roc_auc:  0.88625

For:  DT
Accuracy:  0.65875
Precision:  0.5960665658093798
Roc_auc:  0.65875

For:  LR
Accuracy:  0.8675
Precision:  0.8888888888888888
Roc_auc:  0.8674999999999999

For:  RF
Accuracy:  0.92125
Precision:  0.9309462915601023
Roc_auc:  0.9212500000000001

For:  Adaboost
Accuracy:  0.8175
Precision:  0.8691860465116279
Roc_auc:  0.8175

For:  Bgc
Accuracy:  0.87375
Precision:  0.8673218673218673
Roc_auc:  0.87375

For:  ETC
Accuracy:  0.92125
Precision:  0.924433249370277
Roc_auc:  0.92125

For:  GBDT
Accuracy:  0.81125
Precision:  0.8738738738738738
Roc_auc:  0.81125

For:  xgb
Accuracy:  0.87625
Precision:  0.903485254691689
Roc_auc:  0.8762500000000001

In [88]:
# –æ–±—É—á–µ–Ω–∏–µ –Ω–∞ –ø–æ–ª–Ω–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ (–Ω–µ —Å–±–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∞–Ω–Ω–æ–º)
accuracy_scores = []
precision_scores = []
roc_auc_scores = []
for name, clf in clfs.items():
    current_accuracy, current_precision, current_roc_auc = train_classifier(clf, X_train, y_train, X_test, y_test)
    print()
    print("For: ", name)
    print("Accuracy: ", current_accuracy)
    print("Precision: ", current_precision)
    print("Roc_auc: ", current_roc_auc)
    
    accuracy_scores.append(current_accuracy)
    precision_scores.append(current_precision)
    roc_auc_scores.append(current_roc_auc)

For:  SVC
Accuracy:  0.932093023255814
Precision:  0.9190421892816419
Roc_auc:  0.9067999855991183

For:  KNN
Accuracy:  0.7996899224806202
Precision:  0.9529411764705882
Roc_auc:  0.6662886435200186

For:  NB
Accuracy:  0.9221705426356589
Precision:  0.8866886688668867
Roc_auc:  0.8997546311297215

For:  DT
Accuracy:  0.782015503875969
Precision:  0.8658892128279884
Roc_auc:  0.6455326803087328

For:  LR
Accuracy:  0.9249612403100775
Precision:  0.9208037825059102
Roc_auc:  0.8935297115115663

For:  RF
Accuracy:  0.937984496124031
Precision:  0.928409090909091
Roc_auc:  0.914326523377893

For:  Adaboost
Accuracy:  0.8874418604651163
Precision:  0.8793324775353016
Roc_auc:  0.8383189462985579

KeyboardInterrupt

In [90]:
# –ø–æ–∫–∞ —á—Ç–æ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –≤—ã–≤–æ–¥ –æ —Ç–æ–º, —á—Ç–æ –Ω–∞ —Å–±–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∞–Ω–Ω–æ–π –≤—ã–±–æ—Ä–∫–µ —Å –º–µ–Ω—å—à–∏–º –∫–æ–ª-–≤–æ–º –æ–±—Ä–∞–∑—Ü–æ–≤ roc_auc –≤—ã—à–µ (–Ω–µ—Å–º–æ—Ç—Ä—è –Ω–∞ —Ç–æ —á—Ç–æ accuracy –º–µ–Ω—å—à–µ)  
# —Å—Ç–æ–∏—Ç –ø–æ–ø—Ä–æ–±–æ–≤–∞—Ç—å —É–≤–µ–ª–∏—á–∏—Ç—å –≤—ã–±–æ—Ä–∫—É, –Ω–æ –æ—Å—Ç–∞–≤–∏—Ç—å –µ–µ —Å–±–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∞–Ω–Ω–æ–π

# –æ–±—â–µ–µ –∫–æ–ª-–≤–æ —Å—Ç—Ä–æ–∫ –∫–ª–∞—Å—Å–∞ 1
max_len = len(train_df[train_df['target'] == 1])
max_len

4806

In [109]:
# –≤–æ–∑—å–º–µ–º —Å–±–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∞–Ω–Ω—É—é –≤—ã–±–æ—Ä–∫—É —Å –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–º —Ä–∞–∑–º–µ—Ä–æ–º –¥–∞—Ç–∞—Å–µ—Ç–∞
df_class_0 = train_df[train_df['target'] == 0][:max_len]
df_class_1 = train_df[train_df['target'] == 1][:max_len]

train_df_2 = pd.concat([df_class_0, df_class_1], ignore_index=True)
train_df_2

,text_type,text,num_characters,num_words,num_sentence,target,transformed_text
0,ham,make sure alex knows his birthday is over in f...,86,16,1,0,make sure alex know birthday fifteen minut far...
1,ham,a resume for john lavorato thanks vince i will...,520,97,1,0,resum john lavorato thank vinc get move right ...
2,ham,overview of hr associates analyst project per ...,733,127,1,0,overview hr associ analyst project per david r...
3,ham,url url date not supplied government employees...,156,26,1,0,url url date suppli govern employe routin scre...
4,ham,looks like your ham corpus by and large has to...,419,85,1,0,look like ham corpu larg jeremi url header spa...
...,...,...,...,...,...,...,...
9607,spam,your e mail to anvasetc 1111 groups msn com ca...,429,87,1,1,e mail anvasetc 1111 group msn com deliv sent ...
9608,spam,rs 250 for dental services worth rs 2150 denta...,130,24,1,1,rs 250 dental servic worth rs 2150 dental spa ...
9609,spam,dost i am playing cricket knifeup pool etc and...,196,38,2,1,dost play cricket knifeup pool etc win cash da...
9610,spam,if you are interested in binary options tradin...,114,18,1,1,interest binari option trade may continu infor...
9611,spam,dirty pictureblyk on aircel thanks you for bei...,454,74,1,1,dirti pictureblyk aircel thank valu member her...

In [110]:
# —Ä–∞–∑–¥–µ–ª–µ–Ω–∏–µ –Ω–∞ —Ç—Ä–µ–π–Ω –∏ —Ç–µ—Å—Ç
X = tfid.fit_transform(train_df_2['transformed_text']).toarray()
y = train_df_2['target'].values

X_train, X_test , y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 44)

In [112]:
# –ø—Ä–æ—Ü–µ—Å—Å –æ–±—É—á–µ–Ω–∏—è
accuracy_scores = []
precision_scores = []
roc_auc_scores = []
for name, clf in clfs.items():
    current_accuracy, current_precision, current_roc_auc = train_classifier(clf, X_train, y_train, X_test, y_test)
    print()
    print("For: ", name)
    print("Accuracy: ", current_accuracy)
    print("Precision: ", current_precision)
    print("Roc_auc: ", current_roc_auc)
    
    accuracy_scores.append(current_accuracy)
    precision_scores.append(current_precision)
    roc_auc_scores.append(current_roc_auc)

For:  SVC
Accuracy:  0.9121164846593863
Precision:  0.9290393013100436
Roc_auc:  0.9119753580546061

For:  KNN
Accuracy:  0.642225689027561
Precision:  0.9651567944250871
Roc_auc:  0.6398608887542728

For:  NB
Accuracy:  0.8881955278211129
Precision:  0.8592233009708737
Roc_auc:  0.888454091125438

For:  DT
Accuracy:  0.6640665626625065
Precision:  0.5979708306911858
Roc_auc:  0.6662379386439359

For:  LR
Accuracy:  0.8975559022360895
Precision:  0.9155701754385965
Roc_auc:  0.8974000475963826

For:  RF
Accuracy:  0.9235569422776911
Precision:  0.9400871459694989
Roc_auc:  0.9234233698238934

For:  Adaboost
Accuracy:  0.84399375975039
Precision:  0.8857479387514723
Roc_auc:  0.8436139717017871

For:  Bgc
Accuracy:  0.8965158606344253
Precision:  0.8913043478260869
Roc_auc:  0.8965498031240535

For:  ETC
Accuracy:  0.9209568382735309
Precision:  0.9195402298850575
Roc_auc:  0.9209602570204665

For:  GBDT
Accuracy:  0.8289131565262611
Precision:  0.9151193633952255
Roc_auc:  0.8281986932629484

For:  xgb
Accuracy:  0.890795631825273
Precision:  0.9296424452133795
Roc_auc:  0.8904812643330016

### 4. –î–æ–æ–±—É—á–µ–Ω–∏–µ –ª—É—á—à–∏—Ö –º–æ–¥–µ–ª–µ–π –∏ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º GridSearch

In [ ]:
# –≤—ã–±—Ä–∞–Ω—ã –º–æ–¥–µ–ª–∏ - ETC, RF, SVC
warnings.filterwarnings("ignore", category=DeprecationWarning)

# –°–ª–æ–≤–∞—Ä—å —Å –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ç–æ—Ä–∞–º–∏
clfs = {
    'ETC': ExtraTreesClassifier(random_state=42),
    'RF': RandomForestClassifier(random_state=42),
    'SVC': SVC(random_state=42)
}

# –ü–∞—Ä–∞–º–µ—Ç—Ä—ã 
param_grid = {
    'ETC': {
        'n_estimators': [50, 100, 200],
        'max_features': ['auto', 'sqrt', 'log2'],
        'min_samples_split': [2, 4, 6]
    },
    'RF': {
        'n_estimators': [50, 100, 200],
        'max_depth': [None, 10, 20, 30],
        'min_samples_leaf': [1, 2, 4]
    },
    'SVC': {
        'C': [0.1, 1, 10],
        'kernel': ['linear', 'rbf'],
        'gamma': ['scale', 'auto']
    }
}

# –°–ª–æ–≤–∞—Ä—å –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤
best_models = {}

# –°–æ–∑–¥–∞–Ω–∏–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–æ–≥–æ —Å–∫–æ—Ä–µ—Ä–∞
scorers = {
    'accuracy': make_scorer(accuracy_score),
    'precision': make_scorer(precision_score),
    'roc_auc': make_scorer(roc_auc_score)
}

# –¶–∏–∫–ª –ø–æ –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ç–æ—Ä–∞–º
for name, clf in clfs.items():
    grid_search = GridSearchCV(clf, param_grid=param_grid[name], scoring=scorers, refit='roc_auc', n_jobs=-1, cv=3, verbose=1)
    grid_search.fit(X_train, y_train)
    best_models[name] = grid_search.best_estimator_
    
    # –í—ã–≤–æ–¥ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤
    print(f"–õ—É—á—à–∏–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã –¥–ª—è {name}: {grid_search.best_params_}")
    y_pred = best_models[name].predict(X_test)
    print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
    print(f"Precision: {precision_score(y_test, y_pred)}")
    print(f"ROC AUC: {roc_auc_score(y_test, y_pred)}")

–õ—É—á—à–∏–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã –¥–ª—è ETC: {'max_features': 'log2', 'min_samples_split': 6, 'n_estimators': 200}  #2
Accuracy: 0.9318772750910036
Precision: 0.9291666666666667
ROC AUC: 0.931891739864134

–õ—É—á—à–∏–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã –¥–ª—è RF: {'max_depth': None, 'min_samples_leaf': 1, 'n_estimators': 100}
Accuracy: 0.9162766510660426
Precision: 0.9241452991452992
ROC AUC: 0.9162060274328242

–õ—É—á—à–∏–µ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã –¥–ª—è SVC: {'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}
Accuracy: 0.9334373374934998
Precision: 0.9431939978563773
ROC AUC: 0.9333569512353426

### 5. –ü–æ—Å—Ç—Ä–æ–µ–Ω–∏–µ –∞–Ω—Å–∞–º–±–ª—è

In [125]:
# –ò—Å–ø–æ–ª—å–∑—É–µ–º—ã–µ –º–æ–¥–µ–ª–∏
classifiers = [
    ('rf', ExtraTreesClassifier(n_estimators=200, max_features='log2', min_samples_split=6, random_state=42)),
    ('etc', RandomForestClassifier(n_estimators=100, min_samples_leaf=1, max_depth=None, random_state=42)),
    ('svc', SVC(C=10, gamma='scale', kernel='rbf', random_state=42))
]

# –ú–µ—Ç–∞-–∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ç–æ—Ä
meta_classifier = LogisticRegression()

# –°–æ–∑–¥–∞–Ω–∏–µ —Å—Ç–µ–∫–∏–Ω–≥-–º–æ–¥–µ–ª–∏
stacking_model = StackingClassifier(estimators=classifiers, final_estimator=meta_classifier, cv=5)

# –û–±—É—á–µ–Ω–∏–µ —Å—Ç–µ–∫–∏–Ω–≥-–º–æ–¥–µ–ª–∏
stacking_model.fit(X_train, y_train)

# –û—Ü–µ–Ω–∫–∞ –º–æ–¥–µ–ª–∏
y_pred = stacking_model.predict(X_test)
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(f"Precision: {precision_score(y_test, y_pred)}")
print(f"ROC AUC: {roc_auc_score(y_test, y_pred)}")

Accuracy: 0.9360374414976599
Precision: 0.9378947368421052
ROC AUC: 0.9360169399852883

### 6. –ò—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ –≥–æ—Ç–æ–≤–æ–π –ø—Ä–µ–¥–æ–±—É—á–µ–Ω–Ω–æ–π –º–æ–¥–µ–ª–∏ transformer https://huggingface.co/mshenoda/roberta-spam?text=delivery+status+notification+failure+the+following+message+to+was+undeliverable+the+reason+for+the+problem+5+1+0+unknown+address+error+550+5+1+1+unknown+or+illegal+alias+gkoppmal+elp+rr+com

In [141]:
import torch
from transformers import AutoTokenizer, AutoModelForSequenceClassification
from torch.utils.data import DataLoader, Dataset

# –ó–∞–≥—Ä—É–∑–∫–∞ —Ç–æ–∫–µ–Ω–∏–∑–∞—Ç–æ—Ä–∞ –∏ –º–æ–¥–µ–ª–∏
tokenizer = AutoTokenizer.from_pretrained("mshenoda/roberta-spam")
model = AutoModelForSequenceClassification.from_pretrained("mshenoda/roberta-spam")

# –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞—Ç–∞—Å–µ—Ç–∞
class TextDataset(Dataset):
    def __init__(self, texts):
        self.texts = texts

    def __len__(self):
        return len(self.texts)

    def __getitem__(self, idx):
        return self.texts.iloc[idx]

# C–ø–∏—Å–æ–∫ —Ç–µ–∫—Å—Ç–æ–≤
texts = train_df['text'][:1000]

# –°–æ–∑–¥–∞–Ω–∏–µ –æ–±—ä–µ–∫—Ç–∞ –¥–∞—Ç–∞—Å–µ—Ç–∞
dataset = TextDataset(texts)

# –°–æ–∑–¥–∞–Ω–∏–µ DataLoader –¥–ª—è —É–ø—Ä–∞–≤–ª–µ–Ω–∏—è –±–∞—Ç—á–∞–º–∏
loader = DataLoader(dataset, batch_size=100, shuffle=False)

# –§—É–Ω–∫—Ü–∏—è –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏ –±–∞—Ç—á–µ–π
def predict(model, dataloader):
    model.eval()
    predictions = []
    probabilities = []
    for batch in dataloader:
        texts = batch
        inputs = tokenizer(texts, return_tensors="pt", padding='max_length', truncation=True, max_length=512)
        with torch.no_grad():
            outputs = model(**inputs)
            logits = outputs.logits
            probs = torch.softmax(logits, dim=1)
            preds = torch.argmax(probs, dim=1)
            probabilities.extend(probs.tolist())
            predictions.extend(preds.tolist())
    return probabilities, predictions

# –ü–æ–ª—É—á–µ–Ω–∏–µ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–π
probabilities, predictions = predict(model, loader)
print('Done')

Done

In [142]:
# –∏–∑–º–µ—Ä–µ–Ω–∏–µ –∫–∞—á–µ—Å—Ç–≤–∞
y_test = train_df['target'][:1000]

print(f"Accuracy: {accuracy_score(y_test, predictions)}")
print(f"Precision: {precision_score(y_test, predictions)}")
print(f"ROC AUC: {roc_auc_score(y_test, predictions)}")

Accuracy: 0.998
Precision: 0.9965986394557823
ROC AUC: 0.9975911044304407

### 7. –ü–æ–ª—É—á–µ–Ω–∏–µ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–π –Ω–∞ —Ç–µ—Å—Ç–æ–≤–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ

In [146]:
test_df = pd.read_csv('test_spam.csv')
test_df

                                                   text
0     j jim whitehead ejw cse ucsc edu writes j you ...
1     original message from bitbitch magnesium net p...
2     java for managers vince durasoft who just taug...
3                  there is a youtuber name saiman says
4     underpriced issue with high return on equity t...
...                                                 ...
4065  husband to wifetum meri zindagi hoorwifeor kya...
4066  baylor enron case study cindy yes i shall co a...
4067                           boring as compared to tp
4068  hellogorgeous hows u my fone was on charge lst...
4069  energy conference mark we are really swamped a...

[4070 rows x 1 columns]

In [147]:
# –ø—Ä–æ–≤–µ—Ä–∫–∞ –ø—É—Å—Ç—ã—Ö —Å—Ç—Ä–æ–∫
test_df.isnull().sum()

text    0
dtype: int64

In [148]:
texts = test_df['text']

dataset = TextDataset(texts)
loader = DataLoader(dataset, batch_size=100, shuffle=False)

# –§—É–Ω–∫—Ü–∏—è –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏ –±–∞—Ç—á–µ–π
def predict(model, dataloader):
    model.eval()
    predictions = []
    probabilities = []
    for idx, batch in enumerate(dataloader):
        print(f'Batch {idx}')
        texts = batch
        inputs = tokenizer(texts, return_tensors="pt", padding='max_length', truncation=True, max_length=512)
        with torch.no_grad():
            outputs = model(**inputs)
            logits = outputs.logits
            probs = torch.softmax(logits, dim=1)
            preds = torch.argmax(probs, dim=1)
            probabilities.extend(probs.tolist())
            predictions.extend(preds.tolist())
    return probabilities, predictions

# –ü–æ–ª—É—á–µ–Ω–∏–µ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–π
probabilities, predictions = predict(model, loader)
print('Done')

Batch 0
Batch 1
Batch 2
Batch 3
Batch 4
Batch 5
Batch 6
Batch 7
Batch 8
Batch 9
Batch 10
Batch 11
Batch 12
Batch 13
Batch 14
Batch 15
Batch 16
Batch 17
Batch 18
Batch 19
Batch 20
Batch 21
Batch 22
Batch 23
Batch 24
Batch 25
Batch 26
Batch 27
Batch 28
Batch 29
Batch 30
Batch 31
Batch 32
Batch 33
Batch 34
Batch 35
Batch 36
Batch 37
Batch 38
Batch 39
Batch 40
Done

In [151]:
# —Ñ-—è –¥–ª—è –ø–µ—Ä–µ–≤–æ–¥–∞ —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã—Ö –º–µ—Ç–æ–∫ –∫–ª–∞—Å—Å–∞ –≤ ham/spam
def decode_prediction(class_prediction):
    if class_prediction == 0:
        return 'ham'
    else:
        return 'spam'

test_df['class_prediction'] = predictions
test_df['score'] = test_df['class_prediction'].apply(decode_prediction)

In [156]:
# —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –æ—Ç–≤–µ—Ç–æ–≤ –º–æ–¥–µ–ª–∏
test_df[['score', 'text']].to_csv('submission.csv', index=False)